.clients {
    
    &__content {
        padding: 94px 0;
    }

    &__title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.03em;
        text-align: center;
        margin: 0 0 50px;
    }
    &__list {
      list-style: none;
      display: flex;
      gap: 30px;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 92px;
      border: 1px #afb1b8 solid;
      border-radius: 4px;
      transition: all 0.3s linear;
      cursor: pointer;
      
      &:hover {
        border-color: $color-blue;

        .clients__logo {
            color: $color-blue;
          }
      }
    }
    &__logo {
      width: 106px;
      height: 60px;
      color: #afb1b8;
      transition: all 0.3s linear;
    }
    
  }

  
  
  
  