@import "../utils/mixins";

.contacts {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;

  @include onTablet {
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }
  @include onDesktop {
    gap: 50px;
    flex-direction: row;
  }

  &--footer {
    flex-direction: column;
    gap: 6px;
  }

  &__item {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    letter-spacing: 0.28px;

    color: #757575;

    &--tel {
      font-size: 34px;
      line-height: 39.84px;
      letter-spacing: 0.02em;
      color: #2196f3;
      font-weight: 500;
    }

    @include onTablet {
      display: flex;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.28px;
      align-items: center;
      color: #757575;
    }

    @include onDesktop {
      font-size: 14px;
    }

    &--footer {
      color: #ffffff99;
      line-height: 24px;
    }
  }

  &__address {
    color: #fff;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  &__block {
    display: flex;

    &:hover {
      background-color: #fff;
      & &__icon {
        color: $color-blue;
      }
      & &__email {
        color: $color-blue;
      }
    }
  }

  &__icon {
    box-sizing: content-box;
    display: none;
    @include onTablet {
      display: block;
    }
  }

  &__icon-email {
    padding: 34px 10px 34px 0;
    transition: color 0.3s linear;
  }
}
