.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
    height: 600px;
    background: linear-gradient(90deg, #2f303a66 0%, #2f303a66 100%),
      url("../images/hero.jpg"), #2f303a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    color: #fff;
  
    font-size: 44px;
    font-weight: 900px;
    line-height: 60px;
    text-transform: uppercase;
  
    flex-shrink: 0;
    &__title {
      color: #fff;
      text-align: center;
    
      width: 696px;
    
      font-size: 44px;
      font-weight: 900;
    
      line-height: 60px;
      letter-spacing: 2.64px;
      text-transform: uppercase;
    }
    &__button {
      background-color: $color-blue;
      color: #fff;
      width: 216px;
      height: 50px;
      cursor: pointer;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px; /* 187.5% */
      letter-spacing: 0.96px;
      border-radius: 4px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    }
  }
  
  
