@import "../utils/mixins";

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 36px;

    @include onTablet {
      flex-direction: row;
      gap: 50px;
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;

    font-size: 40px;
    font-weight: 500;
    line-height: 46.88px;
    letter-spacing: 0.28px;
    text-align: center;
    text-decoration: none;
    color: #212121;

    transition: all 0.3s ease;

    @include onTablet {
      font-size: 14px;
      letter-spacing: 0.28px;
    }
  }

  &__link:hover {
    color: $color-blue;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
}

.is-active {
  position: relative;
  color: $color-blue;

  &::after {
    display: none;

    @include onTablet {
      display: block;
      content: "";
      height: 4px;
    }

    position: absolute;
    width: 100%;
    bottom: 0;

    background-color: $color-blue;
    border-radius: 2px;
  }
}
