.person {
    background-color: #fff;
    width: 270px;

    &__img {
      width: 100%;
    }

    &__img-container {
      display: flex;
    }

    &__content {
      padding: 30px 0 30px;
    
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__name {
      margin: 0 0 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0.03em;
    }

    &__role {
      margin: 0 0 16px;
    
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: #757575;
    }
    &__media-item:hover &__media-icon {
        color: #fff;
      }
      
  }
