@import "../utils/mixins";

.section {
  padding: 60px 0 60px;
  @include onDesktop {
    padding: 94px 0 94px;
  }

  &--no-pd-top {
    padding: 0 0 60px;
    @include onDesktop {
      padding: 0 0 94px;
    }
  }

  &__title {
    text-align: center;
    margin: 0 0 30px;
    font-size: 28px;
    font-weight: 700;
    line-height: 32.81px;
    letter-spacing: 0.03em;

    @include onDesktop {
      margin: 0 0 50px;
      font-size: 36px;
      line-height: 42px;
    }
  }
}
